# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
# Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=user_example
DB_PASSWORD=password_example
DB_DATABASE=db_example

# Gateway 1
GATEWAY1_URL=http://localhost:3001
GATEWAY1_EMAIL=gateway1_email
GATEWAY1_TOKEN=gateway1_token

# Gateway 2
GATEWAY2_URL=http://localhost:3002
GATEWAY2_AUTH_TOKEN=gateway2_auth_token
GATEWAY2_AUTH_SECRET=gateway2_auth_secret

